name: AV1 Conversion Workflow

on:
  push:
    branches:
      - main

jobs:
  av1_conversion:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up FFmpeg, ImageMagick, ExifTool, and libavif
      run: |
        if [ ${{ runner.os }} == 'macOS' ]; then
          brew install ffmpeg imagemagick exiftool libavif
        elif [ ${{ runner.os }} == 'Linux' ]; then
          sudo apt-get update
          sudo apt-get install -y coreutils ffmpeg imagemagick libimage-exiftool-perl libavif-bin
          # Install libavif on Ubuntu (you might need to add a PPA or other method for this)
        fi

    - name: Create Folders
      run: |
        mkdir images
        mkdir videos

    - name: Download Images and Videos
      run: |
        wget https://picsum.photos/1366/768/\?random -O images/image.jpg
        wget https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_50mb.mp4 -O videos/video.mp4

    - name: Make av1.sh Executable
      run: |
        chmod +x av1.sh

    - name: Run av1.sh Script
      run: |
        ./av1.sh -i images
        ./av1.sh -i videos
    - name: Check if files exist
      run: |
        ls -l output/images/*.avif
        ls -l output/videos/*.mkv
  
  create_release:
    needs: av1_conversion  # Depend on the av1_conversion job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pipe-cd/actions-gh-release@v2.3.4
        with:
          release_file: '**/RELEASE'
          token: ${{ secrets.GITHUB_TOKEN }}