name: AV1 Conversion Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  prepare:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
        include:
          - os: macos-latest
            name: macOS 10.15
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Install dependencies
        run: |
          [ "$RUNNER_OS" = "Linux" ] && sudo apt-get update && sudo apt-get install -y ffmpeg* imagemagick* exiftool* libavif*
          [ "$RUNNER_OS" = "macOS" ] && brew update && brew install ffmpeg imagemagick exiftool libavif

      - name: Create folders
        run: |
          mkdir images
          mkdir videos

      - name: Download samples
        run: |
          wget https://picsum.photos/1366/768/\?random -O images/image.jpg
          wget https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4 -O videos/video.mp4

      - name: Make av1.sh executable
        run: |
          chmod +x av1.sh

      - name: Run av1.sh
        run: |
          bash -x av1.sh -i images
          bash -x av1.sh -i videos

      - name: Check files
        run: |
          ls -l output/images/*.avif
          ls -l output/videos/*.mkv

      - name: Upload artifacts and create release
        uses: actions/upload-artifact@v2
        with:
          name: av1
          path: output
