name: AV1 Conversion Workflow

on:
  push:
    branches:
      - main

jobs:
  compile_ffmpeg:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential yasm pkg-config libtool autoconf automake cmake zlib1g-dev libfreetype6-dev libx264-dev libvpx-dev libopus-dev libass-dev

    - name: Download FFmpeg sources
      run: |
        git clone https://github.com/FFmpeg/FFmpeg.git
        cd FFmpeg
        git checkout release/4.4 # You can specify a different release or branch

    - name: Build FFmpeg
      run: |
        cd FFmpeg
        ./configure --enable-gpl --enable-libx264 --enable-libvpx --enable-libopus --enable-libass
        make -j$(nproc)
        sudo make install

    - name: Verify FFmpeg installation
      run: |
        ffmpeg -version

  av1_conversion:
    needs: compile_ffmpeg
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up FFmpeg, ImageMagick, ExifTool, and libavif
      run: |
        if [ ${{ runner.os }} == 'macOS' ]; then
          brew install ffmpeg imagemagick exiftool libavif
        elif [ ${{ runner.os }} == 'Linux' ]; then
          sudo apt-get update
          sudo apt-get install -y coreutils libimage-exiftool-perl libavif-bin
          # Install libavif on Ubuntu (you might need to add a PPA or other method for this)
        fi

    - name: Create Folders
      run: |
        mkdir images
        mkdir videos

    - name: Download Images and Videos
      run: |
        wget https://picsum.photos/1366/768/\?random -O images/image.jpg
        wget https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_50mb.mp4 -O videos/video.mp4

    - name: Make av1.sh Executable
      run: |
        chmod +x av1.sh

    - name: Run av1.sh Script
      run: |
        bash -x ./av1.sh -i images
        bash -x ./av1.sh -i videos

    - name: Check if files exist
      run: |
        ls -l output/images/*.avif
        ls -l output/videos/*.mkv

  create_release:
    needs: av1_conversion
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Create a GitHub Release
      id: create_release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          output/images/*.avif
          output/videos/*.mkv
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# You should add any required secrets like GITHUB_TOKEN in your repository settings.
