name: AV1 Conversion Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  av1_conversion:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up FFmpeg, ImageMagick, ExifTool, and libavif
      run: |
        if [ ${{ runner.os }} == 'macOS' ]; then
          brew install ffmpeg imagemagick exiftool libavif
        fi

    - name: Create Folders
      run: |
        mkdir images
        mkdir videos

    - name: Download Images and Videos
      run: |
        wget https://picsum.photos/1366/768/\?random -O images/image.jpg
        wget https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4 -O videos/video.mp4

    - name: Make av1.sh Executable
      run: |
        chmod +x av1.sh

    - name: Run av1.sh Script
      run: |
        bash -x ./av1.sh -i images
        bash -x ./av1.sh -i videos

    - name: Check if files exist
      run: |
        ls -l output/images/*.avif
        ls -l output/videos/*.mkv

  release-on-push:
    needs: av1_conversion
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: rymndhng/release-on-push-action@master
        with:
          bump_version_scheme: minor