name: CI (Mac and Linux)
run-name: ${{ github.actor }} triggered ${{ github.workflow }} on ${{ github.event_name }}
on: [push, pull_request]
jobs:
    prepare:
        name: Prepare
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [macos-latest, ubuntu-latest]
        steps:
            - name: Update system
              run: |
                  if [ "${{ matrix.os }}" = "macos-latest" ]; then
                      brew update
                      brew upgrade
                      brew install ffmpeg
                      brew install imagemagick
                      brew install exiftool
                      brew install avifenc
                  else
                      sudo apt-get update
                      sudo apt-get upgrade
                      sudo apt-get install ffmpeg
                      sudo apt-get install imagemagick
                      sudo apt-get install libimage-exiftool-perl
                      sudo apt-get install libavifenc
                  fi
            - name: Checkout
              uses: actions/checkout@v2
            - name: Download sample image
              run: |
                    mkdir -p images
                    wget -P images https://picsum.photos/3840/2160
            - name: Download sample video
              run: |
                    mkdir -p videos
                    wget -P videos https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_50mb.mp4
            - name: Convert image to AVIF
              run: |
                    chmod +x av1.sh
                    ./av1.sh -i images
            - name: Convert video to AVIF
              run: |
                    chmod +x av1.sh
                    ./av1.sh -i videos
            - name: Check if the files are created
              run: |
                    ls -l output/images
                    ls -l output/videos
            - name: Create Release
              id: create_release
              uses: actions/create-release@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ github.ref }}
                  release_name: Release ${{ github.ref }}
                  draft: false
                  prerelease: false
